<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>考勤管理系统</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/css/matrix-style.css"/>
    <link rel="stylesheet" href="lib/css/matrix-media.css"/>
    <link rel="stylesheet" href="lib/css/font-awesome.css"/>
    <link rel="stylesheet" href="lib/css/uniform.css"/>
</head>
<body>

<div id="l-app">
    <l-brand></l-brand>
    <l-navigator>
        <l-drop-menu-btn id="userInfo" th:title="${session.username}" icon="icon icon-user">
            <l-drop-menu-item href="/login" icon="icon icon-reply" title="注销"></l-drop-menu-item>
        </l-drop-menu-btn>
    </l-navigator>
    <l-sidebar>
        <l-side-btn href="/index" icon="icon icon-home" title="首页"></l-side-btn>
        <l-side-btn th:if="${session.roleId} lt 4" href="/employee" icon="icon icon-group" title="员工管理"></l-side-btn>
        <l-side-btn th:if="${session.roleId} lt 4" href="/department" icon="icon icon-briefcase" title="部门管理"></l-side-btn>
        <l-side-btn href="/work" icon="icon icon-edit" title="考勤管理"></l-side-btn>
        <l-side-btn href="/buzz" icon="icon icon-plane" title="出差管理"></l-side-btn>
        <l-side-btn href="/leave" icon="icon icon-ambulance" title="请假管理"></l-side-btn>
        <l-side-btn th:if="${session.roleId} lt 4" href="/stat" icon="icon icon-bar-chart" title="数据统计"></l-side-btn>
        <l-side-btn th:if="${session.roleId} lt 4" href="/system" icon="icon icon-cog" title="系统设置"></l-side-btn>
    </l-sidebar>

    <l-content>
        <l-router slot="router" href="/index" title="首页" iscurrent="false"></l-router>

        <l-container>

            <!--<l-container>-->
            <l-widget-container title="项目简介" icon="icon icon-briefcase">
                <l-container>
                    <h4>员工考勤管理系统</h4>
                    <p>通过员工考勤管理系统这个平台，可以实现员工考勤管理的信息化、网络化、系统化，使工作人员减少工作量。系统的主要功能包括：部门信息管理、员工管理、请假申请、请假审核、员工出勤管理等。分为管理员、普通员工、部门经理这三种用户平台。管理员具有做部门管理、员工信息管理、系统公告管理、修改个人密码等功能。部门经理具有请假审核、管理员工出勤等功能。普通员工具有请假申请、浏览出勤信息等功能。
                    </p>
                    <!--                    <img src="lib/img/company.jpg" style="height: 200px;margin-bottom: 10px" />-->
                    <hr />
                    <p>姓名：郭富梅<br/>专业：软件工程<br/>班级：16级1班<br/>电子邮箱：femiguo@163.com<br/>联系方式：18786495201</p>
                </l-container>
            </l-widget-container>


            <!--</l-container>-->
            <!--</l-widget-container>-->
            <l-widget-container title="权限说明" icon="icon icon-briefcase">
                <l-container>
                    <h4>权限说明</h4>
                    <p>超级管理员：所有权限<br/>人事管理员：假期审核，出差审核，部门管理，员工管理<br/>部门领导：假期审核，出差审核，员工管理</p>
                </l-container>
            </l-widget-container>
            <l-widget-container title="考勤助手" icon="icon icon-calendar">
                <l-container>
                    <l-quick-action>
                        <l-quick-btn title="打卡上下班" icon="icon icon-check" color="green" href="/work"></l-quick-btn>
                        <l-quick-btn title="出差" icon="icon icon-plane" href="/buzz"></l-quick-btn>
                        <l-quick-btn title="请假" icon="icon icon-bell" color="yellow" href="/leave"></l-quick-btn>
                    </l-quick-action>
                </l-container>
            </l-widget-container>
        </l-container>
    </l-content>
</div>


<script src="lib/js/jquery.min.js"></script>
<script src="lib/js/jquery.uniform.js"></script>
<script src="lib/js/jquery.dataTables.min.js"></script>
<script src="lib/js/bootstrap.min.js"></script>
<script src="lib/js/matrix.js"></script>
<script src="lib/js/matrix.tables.js"></script>
<script src="lib/js/vue.js"></script>
<script src="lib/js/component.js"></script>
<script th:inline="javascript">
    new Vue({
        el: '#l-app'
    })
</script>
</body>
</html>
